{{ form_start(commentForm) }}
    {{ form_row(commentForm.comment) }}
    <div class="d-flex justify-content-between align-items-lg-start">
        {{ form_row(commentForm.rate, {'placeholder': '-- Rating --'}) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(commentForm) }}