{% extends 'base.html.twig' %}
{% block title %}
    {{ program.title }} S{{ season.number }}-E{{ episode.number }}
{% endblock %}

{% block body %}
    <h2>{{ program.title }}</h2>
    <div class="card">
        <div class="card-header text-primary bg-dark">
            S{{ season.number }} - E{{ episode.number }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ episode.title }}</h5>
            <p class="card-text">{{ episode.synopsis }}</p>
        </div>
    </div>
    <a href="{{ path('wild_program', {'slug' : slug}) }}" class="btn btn-secondary mt-3">
        Back to {{ program.title }}
    </a>
    <a href="{{ path('wild_season', {'id': season.id}) }}" class="btn btn-secondary mt-3">
        Back to season {{ season.number }}
    </a>
    <section class="offset-2 col-8 mt-5" id="comments">
        <div class="mb-3">
            {% if app.user %}
                <div class="card">
                    <div class="card-body">
                        {% include 'wild/_commentForm.html.twig' %}
                    </div>
                </div>
            {% else %}
                <a class="btn btn-primary" href="{{ path('app_login') }}">Log in to leave a comment</a>
            {% endif %}
        </div>
        <div class="mb-3">
            {% for comment in episode.comments | reverse %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <p class="text-black-50">{{ comment.author.email }}</p>
                        <p class="text-black-50">Rating : <span class="text-primary">{{ comment.rate }}</span></p>
                    </div>
                    <div class="card-body">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}