{% extends 'base.html.twig' %}

{% block title %}
    All programs
{% endblock %}

{% block body %}
    <h1>All shows in the table programs</h1>
    {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button type="submit" name="btn-search" class="btn btn-secondary mb-3">Search</button>
    {{ form_end(form) }}
    {% if message|length > 0 %}
        <div class="alert alert-danger mt-3" role="alert">
            No program named <strong>{{ message }}</strong> found
        </div>
    {% endif %}
    <div class="row">
        {% for program in programs %}
            <div class="col-4 d-flex mb-3">
                <div class="card">
                    <div class="card-header text-light bg-dark">
                        <strong><a href="{{ path('wild_show', {'id' : program.id}) }}">{{ loop.index }} / {{ program.title }}</a></strong>
                        <p>{{ program.category.name }}</p>
                    </div>
                    <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }} poster">
                    <div class="card-body">
                        <p>{{ program.summary }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            Shows not found
        {% endfor %}
    </div>
    <a href="{{ path('app_index') }}" class="btn btn-secondary">
        Back to home
    </a>
{% endblock %}