{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }} - Season {{ season.number }}
{% endblock %}

{% block body %}
    <h2>Season {{ season.number }} of {{ program.title }}</h2>
    <div>
        <p>{{ season.description }}</p>
        <ul class="list-group list-group-flush">
            {% for episode in episodes %}
                <a href="/wild/episode/{{ episode.id }}"><li class="list-group-item">Episode {{ episode.number }} : {{ episode.title }}</li></a>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('wild_program', {'slug' : slug}) }}" class="btn btn-secondary mt-3">
        Back to {{ season.program.title }}
    </a>
{% endblock %}